@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-weight: 400 600 700;
  font-display: swap;
}

:root {
  /* 🎨 Colores */
  --primary-color: hsl(75, 94%, 57%);
  --secondary-color: rgb(207, 156, 108);
  --text-dark: #333;
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);

  /* 🔠 Tipografía */
  --font-size-large: 1.25rem;
}

body {
  padding-inline: 5rem;
  padding-block: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--grey-900);
  color: white;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 0.88em;
  text-align: center;
}

.social-links {
  display: flex;
  flex-direction: column;
  padding-inline: 3rem;
  padding-block: 3rem;
  background-color: var(--grey-800);
  border-radius: 0.5rem;
  max-height: 100vh;
  min-width: 20rem;
  max-width: 25rem;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 7em;
  block-size: 7em;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

img {
  inline-size: 100%;
  block-size: 100%;
  border-radius: 50%;
}

footer {
  margin-block-start: 2em;
  inline-size: 100%;
  font-size: 0.75em;
  text-align: center;
  color: white;
}

a {
  color: var(--secondary-color);
  font-weight: 600;
  text-decoration: none;
}

.style-button a{
  color: white;
}

.style-button {
  block-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-700);
  text-align: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  transition: background-color 0.2s ease;
}

.style-button:hover {
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
}

p#name {
  font-size: xx-large;
  font-weight: bold;
  margin-block-end: 2px;
}

#location {
  color: var(--secondary-color);
  font-weight: bold;
  margin-block-start: -2px;
}

#location:hover {
  color: var(--primary-color);
}

:focus-visible {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}
